.introduction {
    .row {
        min-height: inherit;
        > div {
            @media (max-width: 991px) {
                &:not(:first-child) {
                    margin-bottom: 25px;
                }
                &:nth-child(1) {
                    order: 3;
                }
            }
        }
        .summary {
            transition: 1s;
            &:hover {
                padding: 30px 20px;
                box-shadow: 1px 1px 10px var(--main-color-two);
                border-radius: 10px;
                transform: scale(1.1,1.1);
                margin-right: 25px;
            }
            h1.my-name{
                font-size: 40px;
                color: var(--main-color-two);
            }
            h5.job-position{
                margin: {
                    top: 25px;
                    bottom: 25px;
                }
                color: var(--main-job-position-color);
            }
            p.job-caption{
                margin: 0;
                line-height: 2.5;
                color: var(--main-color-two);
                text-align: justify;
            }
            .contact-me-btn{
                background-color: #7668bd;
                color: #FFF;
                &:hover {
                    background-color: #7668bd;
                }
            }
            @media (max-width: 991px) {
                &:hover{
                    margin: 30px;
                }
            }
        }
        .contact-links{
            li{
                font-size: 33px;
                margin-bottom: 10px;
                .icon{
                    color: #7668bd;
                    transition: .5s;
                    &:hover {
                        background-color: var(--main-color-two);
                        padding: 10px;
                        border-radius: 3px;
                    }
                }
                &:nth-child(1){
                    animation: fadeInLeft 1s ease-in-out 0s;
                }
                &:nth-child(2){
                    animation: fadeInLeft 1s ease-in-out .5s;
                }
                &:nth-child(3){
                    animation: fadeInLeft 1s ease-in-out 1.5s;
                }
                &:nth-child(4){
                    animation: fadeInLeft 1s ease-in-out 2s;
                }
            }
            @media (max-width: 991px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }
        .my-image{
            width: 100%;
            height: 100%;
            border: 3px solid var(--main-color-two);
            opacity: .6;
            transition: 1s;
            animation: imageAnimation 2s ease 0s infinite;
            &:hover{
               opacity: 1;
               border-radius: 50%;
               padding: 10px;
               border-top-right-radius: 15px;
               border-bottom-left-radius: 15px;
               border-bottom-color: red;
               border-top-color: green;
            }
            @media (max-width: 991px) {
                animation: none;
            }
        }
    }
    @media (max-width: 991px) {
        padding: 15px 0;
        text-align: center;
    }
}

@keyframes imageAnimation {
    from{
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translatex(-100px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}