.introduction {
    .row {
        min-height: inherit;
        > div {
            @media (max-width: 991px) {
                &:not(:first-child) {
                    margin-bottom: 25px;
                }
                &:nth-child(1) {
                    order: 3;
                }
            }
        }
        .summary {
            transition: 1s;
            &:hover {
                padding: 30px 20px;
                box-shadow: 1px 1px 10px var(--main-color-two);
                border-radius: 10px;
                transform: scale(1.1,1.1);
                margin-right: 25px;
            }
            h1.my-name{
                font-size: 40px;
                color: var(--main-color-two);
            }
            h5.job-position{
                margin: {
                    top: 25px;
                    bottom: 25px;
                }
                color: var(--main-job-position-color);
            }
            p.job-caption{
                margin: 0;
                line-height: 2.5;
                color: var(--main-color-two);
                text-align: justify;
            }
            .contact-me-btn{
                background-color: #7668bd;
                color: #FFF;
                &:hover {
                    background-color: #7668bd;
                }
            }
            @media (max-width: 991px) {
                &:hover{
                    margin: 30px;
                }
            }
        }
        .contact-links{
            li{
                font-size: 33px;
                margin-bottom: 10px;
                .icon{
                    color: #7668bd;
                    transition: .5s;
                    &:hover {
                        background-color: var(--main-color-two);
                        color: var(--main-background-color);
                        padding: 10px;
                        border-radius: 3px;
                    }
                }
                &:nth-child(1){
                    animation: fadeInLeft 1s ease-in-out 0s;
                }
                &:nth-child(2){
                    animation: fadeInLeft 1s ease-in-out .5s;
                }
                &:nth-child(3){
                    animation: fadeInLeft 1s ease-in-out 1.5s;
                }
                &:nth-child(4){
                    animation: fadeInLeft 1s ease-in-out 2s;
                }
            }
            @media (max-width: 991px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }
        .my-image-and-terminal-open-btn-box{
            position: relative;
            transition: 1s;
            height: 400px;
            transform-style: preserve-3d;
            @media (min-width: 440px) and (max-width: 767px) {
                height: 500px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                height: 600px;
            }
            &:hover{
                transform: rotateY(180deg);
            }
            > div {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            .my-image-box{
                z-index: 2;
                backface-visibility: hidden;
                .my-image{
                    width: 100%;
                    height: 100%;
                    border: 3px solid var(--main-color-two);
                    @media (max-width: 991px) {
                        animation: none;
                    }
                }
            }
            .open-terminal-btn-box{
                z-index: 1;
                background-color: #7668bd;
                transform: rotateY(180deg);
                border-radius: 10px;
            }
        }
    }
    @media (max-width: 991px) {
        padding: 15px 0;
        text-align: center;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translatex(-100px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}