.terminal {
  min-height: 100vh;
  color: #FFF;
}

.terminal h2 {
  border-radius: 10px;
}

.terminal .welcome-message {
  font-size: 18px;
}

.terminal .welcome-message .user-name {
  border-radius: 5px;
}

.terminal .how-to-use-terminal-table {
  border: 2px solid #EEE;
  border-left: 10px solid #EEE;
}

.terminal .how-to-use-terminal-table td {
  border: 1px solid #EEE;
  padding: 15px;
}

.terminal .how-to-use-terminal-table td span {
  border-left: 10px solid #EEE;
  border-right: 10px solid #EEE;
}

.terminal .how-to-use-terminal-table .use-statments {
  font-size: 18px;
  border-radius: 3px;
}

.terminal .loading-box {
  border-radius: 5px;
}

.terminal .terminal-control-box {
  min-height: 400px;
  width: 100%;
  background-color: #74215b;
  overflow: auto;
  border-radius: 8px;
}

.terminal .terminal-control-box .terminal-body .terminal-control-form span {
  border-radius: 5px;
}

.terminal .terminal-control-box .terminal-body .terminal-control-form .command-input {
  background: none;
  border: none;
  outline: none;
  color: #FFF;
}
