.my-skills{
    color: #FFF;
    .skills-info {
        > .skill-box:not(:last-of-type) {
            margin-bottom: 30px;
        }
        .skill-box{
            border-radius: 5px;
            .skill-num{
                display: inline-block;
                background-color: #222;
                width: 35px;
                font-size: 23px;
                border-radius: 5px;
                font-weight: bold;
                border: 1px solid #FFF;
            }
            .skill-details-open-arrow{
                font-size: 28px;
                cursor: pointer;
            }
            .skill-details-table{
                border: 2px dashed #FFF;
                .tech-number span{
                    background-color: var(--main-background-color);
                    display: inline-block;
                    width: 40px;
                    padding: 5px;
                    font-size: 22px;
                    color: var(--main-color-two);
                    border-left: 3px solid #000;
                    border-top-right-radius: 10px;
                }
                th, td {
                    border: 2px dashed #FFF;
                    padding: 10px;
                    text-align: center;
                }
            }
        }
    }
}