.project-box {
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--main-color-two);
  color: #FFF;
  transition: .5s;
}

.project-box:hover {
  border-radius: 0;
  border-top-right-radius: 35px;
  border-left: 5px solid #000;
  background-color: #bbbb30 !important;
  color: #000;
}

.project-box .name-and-description-box {
  background-color: #444;
  color: #FFF;
  margin-bottom: 20px;
  border-top-right-radius: 15px;
  border: 2px solid #FFF;
}

.project-box .name-and-description-box .project-title {
  border-bottom: 2px dashed #FFF;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.project-box .name-and-description-box .project-description-heading {
  border: 2px solid #FFF;
}

.project-box .project-technologies-heading {
  color: #000;
  border-left: 5px solid #000;
  background-color: #FFF;
}

.project-box .technologies-list {
  list-style-type: square;
  list-style-position: inside;
  background-color: #FFF;
  border: 2px solid #444;
}

.project-box .technologies-list li {
  padding: 15px;
  color: #000;
}

.project-box .technologies-list li:not(:last-child) {
  border-bottom: 2px solid #444;
}

.project-box .source-code-link {
  background-color: #444;
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 1s;
}

.project-box .source-code-link:nth-child(2) {
  margin-left: 0;
}

.project-box .source-code-link:hover {
  background-color: #000;
}
