.contact-me{
    color: var(--main-color-two);
    .contact-me-form{
        textarea, input{
            background-color: #231f35;
            border: none;
            color: #FFF;
        }
        textarea{
            resize: none;
            height: 150px;
        }
        .send-message-btn{
            background-color: #7668bd;
            color: #FFF;
            &:hover {
                background-color: #7668bd;
            }
        }
        .contact-links{
            justify-content: space-around;
            font-size: 25px;
            .link{
                background-color: #231f35;
                border-radius: 5px;
                a{
                    color: #FFF;
                }
            }
        }
    }
}