.header {
  border-bottom: 1px solid var(--main-color-two);
}

.header .container .navbar-brand {
  color: var(--main-color-two);
}

.header .container .navbar-toggler {
  color: var(--main-color-two);
  border: 2px solid var(--main-color-two);
  font-size: 25px;
}

.header .container .nav-link {
  color: var(--main-color-two);
}

.header .container .nav-link:hover {
  color: var(--main-color-one) !important;
  font-weight: bold;
}

.header .container .change-mode-icon {
  font-size: 25px;
  cursor: pointer;
  color: var(--main-color-two);
}
