.header {
    border-bottom: 1px solid var(--main-color-two);
    .container{
        .navbar-brand{
            color: var(--main-color-two);
        }
        .navbar-toggler{
            color: var(--main-color-two);
            border: 2px solid var(--main-color-two);
            font-size: 25px;
        }
        .nav-link{
            color: var(--main-color-two);
            &:hover{
                color: var(--main-color-one) !important;
                font-weight: bold;
            }
        }
        .change-mode-icon{
            font-size: 25px;
            cursor: pointer;
            color: var(--main-color-two);
        }
    }
}