.about-me {
    color: var(--main-color-two);
    .page-name {
        animation: pageNameAnimation 1s ease-in-out 0s;
    }
    .my-image {
        max-width: 100%;
        height: 450px;
        border: 3px solid var(--main-color-two);
        @media (min-width: 768px) and (max-width: 991px) {
            width: 60%;
        }
    }
    .summary-description{
        text-align: justify;
        line-height: 2;
        @media (max-width: 991px) {
            text-align: center;
            line-height: 2.5;
        }
    }
    .contact-links {
        gap: 30px;
        @media (max-width: 450px) {
            flex-direction: column;
        }
        li {
            font-size: 33px;
            .icon {
                color: #7668bd;
                background-color: var(--main-color-two);
                transition: .5s;
                border-radius: 3px;
                display: inline-block;
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
        }
    }
}

@keyframes pageNameAnimation {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(0);
    }
    25%{
        visibility: visible;
        opacity: 1;
        transform: translateY(50%);
    }
    25%{
        transform: translateY(-50%);
    }
}