.about-me {
  color: var(--main-color-two);
}

.about-me .page-name {
  animation: pageNameAnimation 1s ease-in-out 0s;
}

.about-me .my-image {
  width: 100%;
  height: 450px;
  border: 3px solid var(--main-color-two);
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-me .my-image {
    width: 60%;
  }
}

.about-me .summary-description {
  text-align: justify;
  line-height: 2;
}

@media (max-width: 991px) {
  .about-me .summary-description {
    text-align: center;
    line-height: 2.5;
  }
}

.about-me .contact-links li {
  font-size: 33px;
}

.about-me .contact-links li .icon {
  color: #7668bd;
  background-color: var(--main-color-two);
  transition: .5s;
  border-radius: 3px;
}

@keyframes pageNameAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
  }
  25% {
    visibility: visible;
    opacity: 1;
    transform: translateY(50%);
  }
  25% {
    transform: translateY(-50%);
  }
}
